@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');
@import 'theme-colors.scss';
@import 'mixins.scss';


*,
*:before,
*:after{
  margin:0;
  padding:0;
  outline:0;
  border:0;
}

body,html{
  height:100%;
}

body{
  background:$theme-ffffff;
  color:$theme-666666;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;

  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

ul{
  list-style: none;
  li{
    a{
      text-decoration: none;
    }
    a:hover{
      text-decoration: none;
    }
  }
}

ul.floated-list{
  margin-bottom:0;
  li{
    float: left;
    display:block;
    a{
      display:block;
    }
    ul{
      margin-bottom: 0;
      li{
        float: none;
      }
    }
  }
}

a{
  color:inherit;
  @include transition(all, 0.35s, ease-out);
  &:hover{
    opacity: 0.7;
  }
}
button[type="submit"],
input[type="submit"]{
  @include transition(all, 0.35s, ease-out);
  &:hover{
    opacity: 0.7;
  }
}
img{
  border:0;
}

h1,h2,h3,h4,h5,h6{
  color: $theme-222433;
}

h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
h1{
  font-size: 26px;
}

h2{
  font-size: 24px;
}

h3{
  font-size: 22px;
}

h4{
  font-size: 20px;
}

h5{
  font-size: 18px;
}

h6{
  font-size: 16px;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a{
  color: inherit;
}
label{
  font-weight: normal;
}
.font8px{
  font-size: 8px;
}
.font9px{
  font-size: 9px;
}
.font10px{
  font-size: 10px;
}
.font11px{
  font-size: 11px;
}
.font12px{
  font-size: 12px;
}
.font13px{
  font-size: 13px;
}
.font14px{
  font-size: 14px;
}
.font15px{
  font-size: 15px;
}
.font16px{
  font-size: 16px;
}
.bdrs0{
  border-radius: 0;
}
.bdrs5px{
  border-radius: 5px;
}
.bdrs8px{
  border-radius: 8px;
}
.bdrs10px{
  border-radius: 10px;
}
.icon-text{
  margin-right: 8px;
  &.sm{
    margin-right: 4px;
  }
}
.weight-300{
  font-weight: 300;
}
.weight-400{
  font-weight: 400;
}
.weight-500{
  font-weight: 500;
}
.weight-600{
  font-weight: 600;
}
.weight-700{
  font-weight: 700;
}
.weight-800{
  font-weight: 800;
}
.weight-900{
  font-weight: 900;
}
.font-style-italic{
  font-style: italic;
}
.font-style-normal{
  font-style: normal;
}
.clear{
  clear:both;
}
.inline{
  display: inline;
}
.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.lowercase{
  text-transform: lowercase;
}
.capitalize{
  text-transform: capitalize;
}
.uppercase{
  text-transform: uppercase;
}
.div-center{
  display:table;
  margin:0 auto;
}
.fullHeight{
  height:100%;
}
.mytable{
  display: table;
  width: 100%;
  height: 100%;
}
.fixed-table-layout{
  table-layout: fixed;
}
.table-cell{
  display:table-cell;
}
.va-middle{
  vertical-align: middle;
}
.va-top{
  vertical-align: top;
}
.va-bottom{
  vertical-align: bottom;
}
.static{
  position: static;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.fixed{
  position: fixed;
}
.cover{
  @include coordinates(0,0,0,0);
}
.circle{
  border-radius: 50%;
}
.m0{
  margin:0 !important;
}
.mb-0{
  margin-bottom: 0 !important;
}
.mb-10{
  margin-bottom: 10px !important;
}
.mb-20{
  margin-bottom: 20px !important;
}
.mb-30{
  margin-bottom: 30px !important;
}
.mb-40{
  margin-bottom: 40px !important;
}
.mb-50{
  margin-bottom: 50px !important;
}
.mt-0{
  margin-top: 0 !important;
}
.mt-10{
  margin-top: 10px !important;
}
.mt-20{
  margin-top: 20px !important;
}
.mt-30{
  margin-top: 30px !important;
}
.mt-40{
  margin-top: 40px !important;
}
.mt-50{
  margin-top: 50px !important;
}
.my-0{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.my-10{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.my-20{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.my-30{
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.my-40{
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.my-50{
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.pb-0{
  padding-bottom: 0 !important;
}
.pb-10{
  padding-bottom: 10px !important;
}
.pb-20{
  padding-bottom: 20px !important;
}
.pb-30{
  padding-bottom: 30px !important;
}
.pb-40{
  padding-bottom: 40px !important;
}
.pb-50{
  padding-bottom: 50px !important;
}
.pt-0{
  padding-top: 0 !important;
}
.pt-10{
  padding-top: 10px !important;
}
.pt-20{
  padding-top: 20px !important;
}
.pt-30{
  padding-top: 30px !important;
}
.pt-40{
  padding-top: 40px !important;
}
.pt-50{
  padding-top: 50px !important;
}
.py-0{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.py-10{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.py-20{
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.py-30{
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.py-40{
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.py-50{
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.fill{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-20 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-20 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-20 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-20 {
    width: 20%;
    float: left;
  }
}

.fitVid{
  position: relative;
  padding-bottom: 56%;
  height: 0;
  iframe{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
  }
}

// Bootstrap Gutter Changes
.row60{
  margin-left: -60px;
  margin-right: -60px;
  .column{
    padding-left: 60px;
    padding-right: 60px;
  }
  @media (max-width: 1450px){
    margin-left: -40px;
    margin-right: -40px;
    .column{
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  @media (max-width: 1300px){
    margin-left: -15px;
    margin-right: -15px;
    .column{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
.row30{
  margin-left: -30px;
  margin-right: -30px;
  .column{
    padding-left: 30px;
    padding-right: 30px;
  }
}
.row25{
  margin-left: -25px;
  margin-right: -25px;
  .column{
    padding-left: 25px;
    padding-right: 25px;
  }
}
.row20{
  margin-left: -20px;
  margin-right: -20px;
  .column{
    padding-left: 20px;
    padding-right: 20px;
  }
}
.row10{
  margin-left: -10px;
  margin-right: -10px;
  .column{
    padding-left: 10px;
    padding-right: 10px;
  }
}
.row7{
  margin-left: -7px;
  margin-right: -7px;
  .column{
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 14px;
  }
}
.row5{
  margin-left: -5px;
  margin-right: -5px;
  .column{
    padding-left: 5px;
    padding-right: 5px;
  }
}

.form-control{
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.055);
  border-width: 1px;
  border-style: solid;
}
.form-control[type="button"],
.form-control[type="submit"],
.form-control[type="reset"]{
  -webkit-appearance:none;
  cursor:pointer;
}
.form-control::-moz-placeholder {
  color: #c5c5c5;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #c5c5c5;
}
.form-control::-webkit-input-placeholder {
  color: #c5c5c5;
}
.form-control:focus{
  box-shadow: none;
  border-color: $theme-e6570c;
}


// Specific CSS
.top_header{
  .th-content{
    position: relative;
    padding: 15px 0;
    background-color: $theme-e6570c;
    color: $theme-ffffff;
    font-size: 16px;
    .tc-close{
      position: absolute;
      top:0;
      right:0;
      bottom:0;
      text-align: center;
      background-color: rgba(0,0,0,0.15);
      width: 50px;
      line-height: 50px;
      @include transition(background-color, 0.35s, ease-out);
      cursor: pointer;
      img{
        max-width: 16px;
      }
      &:hover{
        background-color: rgba(0,0,0,0.72);
      }
    }
  }
}
.header{
  @include coordinates(0,0,auto,0);
  z-index: 9;
  padding: 20px 30px;
  @include transition(padding, 0.35s, ease-out);
  @media (max-width: 992px){
    padding-left: 15px;
    padding-right: 15px;
  }
  .logo{
    width: 90px;
    @include transition(width, 0.35s, ease-out);
    @media (max-width: 767px){
      width: 70px;
    }
  }
  .etx-links{
    padding-left: 20px;
    h3,
    p{
      color: #3a3c51;
    }
    h3{
      font-size: 24px;
      margin:0;
    }
    p{
      margin-bottom: 0;
      margin-top: 5px;
    }
  }
  .mynav{
    ul{
      position: relative;
      margin-top: 20px;
      li{
        margin-left: 30px;
      }
      &.select-language,
      &.cart-selected{
        margin-left: 20px;
        margin-bottom: 0;
        &:after{
          position: absolute;
          height: 10px;
          width: 2px;
          background-color: #3a3c51;
          content:"";
          top: 50%;
          @include translateY(-50%);
          left: 0;
        }
        li{
          margin-left: 20px;
          a{
            display: block;
            color: #3a3c51;
            position: relative;
            img{
              max-height: 18px;
            }
            i{
              font-size: 16px;
              margin-left: 3px;
            }
            &.cart-icon{
              span.ci-count{
                height: 15px;
                width: 15px;
                display: block;
                background-color: $theme-e6570c;
                color: $theme-ffffff;
                font-size: 10px;
                position: absolute;
                top:-7px;
                right: -7px;
                z-index: 1;
                border-radius: 50%;
                text-align: center;
                line-height: 16px;
              }
            }
          }
        }
      }
      &.select-language{
        li{
          a{
            img{
              margin-top: -3px;
            }
          }
          ul.languages{
            display: none;
            position: absolute;
            z-index: 12;
            top: calc( 100% + 10px );
            right: -10px;
            min-width: 240px;
            background-color: $theme-ffffff;
            &:after{
              position: absolute;
              content: "";
              right: 7px;
              border-bottom: 8px solid $theme-ffffff;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              top: -7px;
              z-index: 1;
            }
            li{
              padding: 0;
              margin-left: 0;
              a,
              button{
                color: #3a3c51;
                padding: 10px 15px;
                border-bottom: 1px solid rgba(0,0,0,0.15);
                background-color: transparent;
                display: block;
                width: 100%;
                text-align: left;
                img{
                  margin-right: 10px;
                  max-height: 18px;
                }
              }
              &:last-child{
                a,
                button{
                  border-bottom: 0;
                }
              }
            }
          }
        }
      }
      &.cart-selected{
        margin-right: 7px;
      }
    }
  }
  &.sticky{
    background-color: $theme-e6570c;
    padding: 10px 0;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.075);
    .logo{
      width: 50px;
    }
  }
  @media (max-width: 767px){
    .container{
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.header.absolute{
  .etx-links{
    h3,
    p{
      color: $theme-ffffff;
    }
  }
  .mynav{
    ul{
      &.select-language,
      &.cart-selected{
        &:after{
          background-color: $theme-ffffff;
        }
      }
      li{
        a{
          color: $theme-ffffff;
        }
      }
    }
  }
  &.vv-light-opac{
    background-color: rgba(255,255,255,0.95);
    .etx-links{
      color: #3a3c51;
    }
    .mynav{
      ul{
        &.select-language{
          &:after{
            background-color: #3a3c51;
          }
        }
        li{
          a{
            color: #3a3c51;
          }
        }
      }
    }
  }
}
.lg-container{
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1380px;
  margin: 0 auto;
}
.section{
  margin-top: 125px;
  position: relative;
  @media (max-width: 992px){
    margin-top: 80px !important;
  }
  @media (max-width: 767px){
    margin-top: 50px !important;
  }
  .sec-title{
    position: relative;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    h2{
      margin-top: 0;
      font-size: 30px;
      font-weight: 600;
      padding-bottom: 20px;
      margin-bottom: 0;
      &:after{
        position: absolute;
        content:"";
        bottom:0;
        left: 0;
        height: 1px;
        width: 70px;
        background-color: $theme-e6570c;
        left: 50%;
        @include translateX(-50%);
      }
    }
    @media (max-width: 767px){
      h2{
        font-size: 23px;
      }
    }
  }
  .sec-desc{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}
.banner{
  height: calc(100vh - 30px);
  position: relative;
  background-position: top center;
  @media (max-width: 992px){
    height: 80vh;
  }
  .b-overlay{
    z-index: 1;
  }
  .b-content{
    z-index: 2;
    .bc-caption{
      max-width: 570px;
      .bcc-title{
        margin-bottom: 30px;
        h1{
          margin-top: 0;
          font-size: 60px;
          color: $theme-ffffff;
          font-weight: 700;
        }
        @media (max-width: 767px){
          margin-bottom: 20px;
          h1{
            font-size: 34px;
            margin-bottom: 0;
          }
        }
      }
      .bcc-desc{
        font-size: 18px;
        color: $theme-ffffff;
        margin-bottom: 40px;
      }
      .bcc-search {
        position: relative;
        input{
          height: 80px;
          border-color: rgb(230, 230, 230);
          border-radius: 7px;
          background-color: rgb(255, 255, 255);
          box-shadow: 0px 10px 21px 0px rgba(0, 0, 0, 0.06);
          font-size: 18px;
          font-weight: 500;
          padding-left: 55px;
          padding-right: 130px;
          @media (max-width: 767px){
            height: 60px;
          }
        }
        &:after{
          position: absolute;
          content:"\f002";
          top: 50%;
          @include translateY(-50%);
          z-index: 1;
          left: 25px;
          font-family: 'FontAwesome';
          font-size: 18px;
          color: $theme-e6570c;
        }
        button[type="submit"],
        input[type="submit"]{
          height: 70%;
          position: absolute;
          right: 15px;
          background-color: $theme-e6570c;
          color: $theme-ffffff;
          border-radius: 7px;
          top: 50%;
          @include translateY(-50%);
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }
    .be-img{
      img{
        @media (max-height: 900px){
          max-height: 600px;
          margin-top: 15vh;
        }
      }
    }
  }
  .arrow-down{
    position: absolute;
    bottom:0;
    left: 50%;
    @include translate(-50%,50%);
    z-index: 2;
    a{
      height: 50px;
      width: 50px;
      background-color: $theme-ffffff;
      border-radius: 50%;
      display: block;
      opacity: 1;
      box-shadow: 0 1px 3px 1px rgba(0,0,0,0.075);
      i{
        font-size: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        color: $theme-e6570c;
        @include translate(-50%,-50%);
      }
    }
  }
  &.page-banner{
    height: 550px;
    @media (max-width: 767px){
      height: 340px;
    }
    .bc-caption{
      margin: -80px auto 0;
      @media (max-width: 767px){
        margin-top: -40px;
      }
    }
    // &:after{
    //   height: 55%;
    //   z-index: 1;
    //   position: absolute;
    //   bottom: 0;
    //   right:0;
    //   left:0;
    //   content:"";
    //   background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(0,0,0,0.43) 43%, rgba(0,0,0,1) 100%);
    //   background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(0,0,0,0.43) 43%,rgba(0,0,0,1) 100%);
    //   background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(0,0,0,0.43) 43%,rgba(0,0,0,1) 100%);
    //   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#000000',GradientType=0 );
    // }
    .bp-content{
      padding-bottom: 20px;
      .bp-logo{
        width: 120px;
        img{
          max-width: 100%;
        }
        @media (max-width: 767px){
          width: 80px;
        }
      }
      .bp-detail{
        padding-left: 20px;
        h1,
        p{
          color: $theme-ffffff;
        }
        h1{
          font-size: 36px;
          font-weight: 600;
          margin-top: 0;
          margin-bottom: 7px;
        }
        p{
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 0;
        }
        @media (max-width: 767px){
          h1{
            font-size: 24px;
          }
          p{
            font-size: 14px;
          }
        }
      }
    }
  }
}

.section-easyness{
  .se-content{
    .se-listings{
      .se-item{
        position: relative;
        &:after{
          position: absolute;
          content: "\f054";
          top: 50%;
          right: -72px;
          color:#7cbe31;
          font-size: 30px;
          font-family: 'FontAwesome';
          @include translateY(-50%);
          @media (max-width: 1450px){
            right: -51px;
          }
          @media (max-width: 1300px){
            display: none;
          }
        }
        padding: 70px 15px;
        border-radius: 7px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.11);
        @media (max-width: 767px){
          padding-top: 40px;
          padding-bottom: 40px;
        }
        .sei-img{
          img{
            max-height: 133px;
          }
        }
        .sei-title{
          margin: 25px 0 20px;
          h3{
            font-size: 18px;
            color: #1d1d1d;
            font-weight: 500;
          }
        }
        .sei-desc{
          font-size: 16px;
          @media (max-width: 1199px){
            font-size: 13px;
          }
        }
      }
      .row{
        .col-md-4:last-child{
          .se-item{
            &:after{
              display: none;
            }
          }
        }
      }
      @media (max-width: 767px){
        .se-item{
          margin-bottom: 15px;
        }
        .row{
          .col-md-4{
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.recent-bakeries{
  .owl-latest-listings{
    padding-top: 65px;
  }
  @media (max-width: 767px){
    padding-top: 0;
    .owl-latest-listings{
      padding-top: 0;
    }
  }
  .owl-dots{
    display: table;
    margin: 20px auto 0;
    @media (max-width: 767px){
      margin-bottom: 0;
    }
    button{
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      height: 9px !important;
      width: 9px !important;
      border: 1px solid $theme-e6570c;
      border-radius: 50%;
      margin-left: 5px;
      margin-right: 5px;
      &.active{
        height: 13px !important;
        width: 13px !important;
        background-color: $theme-e6570c;
      }
    }
  }
}
.listings{
  .l-img{
    margin-bottom: 20px;
    img{
      border-radius: 5px;
    }
  }
  .l-title{
    margin-bottom: 30px;
    h3{
      font-size: 14px;
      margin:0;
      font-weight: 500;
    }
  }
}

.lg-img-text-section{
  // overflow-x: hidden;
  .ltlir-text{

    .lt-absolute{
      z-index: 1;
      @media (max-width: 992px){
        position: static;
        .col-md-6{
          padding: 0;
        }
      }
    }
    .lt-content{
      background-color: #fff;
      padding: 70px 150px 100px 80px;
      border-radius: 7px;
      box-shadow: 0px 0px 59px 0px rgba(0, 0, 0, 0.11);
      width: 750px;

      @media (max-width: 1600px){
        width: auto;
        padding-right: 100px;
        padding-left: 50px;
      }
      @media (max-width: 1199px){
        width: auto;
        padding:40px;
      }
      @media (max-width: 992px){
        box-shadow: none;
        border-radius: 0;
      }
      .ltc-title{
        h3{
          margin-top: 0;
          font-weight: 600;
          padding-bottom: 20px;
          position: relative;
          margin-bottom: 25px;
          line-height: 1.4;
          font-size: 30px;
          @media (max-width: 1199px){
            font-size: 24px;
          }
          &:after{
            position: absolute;
            content:"";
            bottom:-1px;
            left: 0;
            height: 1px;
            width: 70px;
            background-color: $theme-e6570c;
          }
        }
      }
      .ltc-desc{
        font-size: 18px;
        margin-top: 30px;
        @media (max-width: 1199px){
          font-size: 14px;
          margin-top: 20px;
        }
        p{
          margin-bottom: 0;
        }
      }
      .sc-apps{
        margin-top: 40px;
        @media (max-width: 1199px){
          margin-top: 30px;
        }
        ul{
          li{
            margin-right: 40px;
            min-width: 80px;
            text-align: center;
            a{
              display: block;
              opacity: 1;
              span{
                display: block;
                &.svg-plus-icon{
                  position: relative;
                  svg{
                    path{
                      fill: $theme-ffffff;
                      @include transition(all, 0.5s, ease-out);
                    }
                  }
                  .sca-icon{
                    position: absolute;
                    @include coordinates(0,0,0,0);
                    text-align: center;
                    z-index: 1;
                    i{
                      position: absolute;
                      top: 50%;
                      left: calc( 50% + 2px);
                      @include translate(-50%,-50%);
                      color: $theme-e6570c;
                      font-size: 30px;
                      z-index: 2;
                    }
                  }
                }
                &.sca-text{
                  font-size: 16px;
                  margin-top: 8px;
                  @include transition(color, 0.5s, ease-out);
                  @media (max-width: 1199px){
                    font-size: 13px;
                  }
                }
              }
              &:hover{
                span{
                  &.svg-plus-icon{
                    svg{
                      path{
                        fill: $theme-e6570c;;
                      }
                    }
                    .sca-icon{
                      i{
                        color: $theme-ffffff;
                      }
                    }
                  }
                }
                .sca-text{
                  color: $theme-e6570c;
                }
              }
            }
          }
        }
      }
      .ltc-cta{
        margin-top: 40px;
        a{
          display: inline-block;
          padding: 15px 45px;
          color: $theme-ffffff;
          border-radius: 10px;
          background-color: rgb(230, 87, 12);
          box-shadow: 0px 13px 21px 0px rgba(7, 7, 7, 0.13);
        }
      }
    }
  }
  .ltlir-img{
    img{
      border-radius: 7px;
    }
  }
  &.lits-left{
    padding: 90px 0;
    background-color: #f1f1f1;
    .lt-img{
      .li-figure{
        height: 600px;
        @media (max-width: 1199px){
          height: 450px;
        }
      }
    }
  }
  &.lits-right{
    padding-top: 90px;
    padding-bottom: 125px;

    // background: rgb(225,225,225);
    // background: -moz-linear-gradient(top, rgba(225,225,225,1) 0%, rgba(241,241,241,1) 50%, rgba(255,255,255,1) 100%);
    // background: -webkit-linear-gradient(top, rgba(225,225,225,1) 0%,rgba(241,241,241,1) 50%,rgba(255,255,255,1) 100%);
    // background: linear-gradient(to bottom, rgba(225,225,225,1) 0%,rgba(241,241,241,1) 50%,rgba(255,255,255,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#ffffff',GradientType=0 );
    background-color: #f1f1f1;
    .lt-img{
      .li-figure{
        height: 700px;
        @media (max-width: 1199px){
          height: 450px;
        }
      }
    }
  }
  @media (max-width: 767px){
    &.lits-left,
    &.lits-right{
      padding: 50px 0 !important;
      .lt-img{
        .li-figure{
          height: 280px;
        }
      }
    }
  }
}

// Store Page
.about-store{
  padding-top: 25px;
  .as-detail{
    border-bottom: 1px solid #e6e6e6;
    .asd-title-back{
      margin-bottom: 25px;
      h3{
        float: left;
        margin: 0;
        font-size: 24px;
        font-weight: 500;
      }
      a{
        float: right;
        display: block;
        color: $theme-e6570c;
      }
    }
    p{
      margin-bottom: 30px;
    }
  }
}

.store-p-listings{
  .sfext-options{
    margin-top: 25px;
    margin-bottom: 15px;
    .so-back{}
    .so-add-bakker{
      color: $theme-e6570c;
    }
  }
  .row{
    &.single-line-item{
      .col-lg-4{
        width: 100%;
        .pl-item{
          .wrapped-img{
            width: 262px;
          }
          .wrapped-detail{
            padding-left: 40px;
            &>div{
              max-width: 65%;
            }
          }
        }
      }
    }
  }
  aside{
    .radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline{
      margin-left: 15px;
    }
    .check-options{
      & .table-cell{
        &:first-child{
          width: 90px;
        }
        &:nth-child(2){
          width: 70px;
        }
      }
    }
    .spl-filter{
      padding: 20px;
      margin-bottom: 30px;
      border: 1px solid #ebebeb;
      border-radius: 5px;
      h3{
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 16px;
        font-weight: 500;
        color: #222222;
      }
      span.selector{
        color: #222222;
        margin-bottom: 15px;
        display: block;
        font-size: 16px;
      }
      ul{
        li{
          a{
            font-size: 16px;
            display: block;
            opacity: 1;
            position: relative;
          }
        }
        &.sf-options{
          & > li{
            & > a{
              color: #222222;
              font-size: 16px;
              margin-bottom: 15px;
              @include transition(all, 0.35s, ease-out);
              i{
                position: absolute;
                right:0;
                top:3px;
                @include transition(all, 0.5s, ease-out);
              }
            }
            & > ul{
              padding-left: 20px;
              margin-bottom: 15px;
              li{
                a{
                  margin-bottom: 7px;
                  font-size: 15px;
                }
                &:last-child{
                  a{
                    margin-bottom: 0;
                  }
                }
                &:hover,
                &.active{
                  > a{
                    color: $theme-e6570c;
                  }
                }
              }
            }
            &.filter-open{
              & > a{
                i{
                  @include rotate(180deg);
                }
              }
            }
          }
        }
      }
      &.sort-by{
        .radio-inline{
          display: block;
          margin-left: 0;
        }
        .checkbox-inline{
          input[type="checkbox"]{
            margin-top: 0;
            top: 50%;
            @include translateY(-50%);
          }
        }
      }
    }
  }
  .sftitle-search-sortings{
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 30px;
    padding-bottom: 20px;
    @media (max-width: 767px){
      padding-bottom: 30px;
    }
    .sf-title{
      h2{
        font-weight: 500;
        margin-top: 10px;
      }
      .result-stats{
        margin-bottom: 20px;
        display: block;
        font-size: 16px;
      }
      a.bt-list{
        padding: 12px 20px;
        display: inline-block;
        border-radius: 5px;
        background-color: rgb(230, 230, 230);
        font-size: 12px;
        color: #222;
      }

      @media (max-width: 767px){
        h2{
          font-size: 18px;
        }
        .result-stats{
          font-size: 14px;
          margin-bottom: 30px;
        }
      }

    }
    .search-sortings{
      .ss-content{
        float: right;
        .sc-search{
          position: relative;
          input,
          select{
            border: 1px solid #e6e6e6;
            border-radius: 5px;
            width: 270px;
            padding: 11px 12px 11px 30px;
            color: #222222;
            @media (max-width: 1199px){
              width: 220px;
            }
            @media (max-width: 992px){
              width: 100%;
            }
          }
          span.ss-icon{
            position: absolute;
            top: 50%;
            left: 10px;
            @include translateY(-50%);
            z-index: 1;
            color: $theme-e6570c;
          }
        }
        .sc-grid-view-option{
          margin-left: 10px;
          @media (max-width: 767px){
            display: none;
          }
          .sg-grid{
            float: left;
            margin-left: 20px;
            a{
              display: block;
              opacity: 1;
              i{
                font-size: 20px;
                color: #dadada;
                @include transition(color, 0.35s, ease-out);
              }
            }
            &.active,
            &:hover{
              i{
                color: $theme-e6570c;
              }
            }
            &.active{
              a{
                pointer-events: none;
              }
            }
          }
        }
      }
      &.sort-filters{
        .ss-content{
          margin-top: 0;
          .sc-sort{
            .bootstrap-select{
              width: 160px;
              height: 44px;
              select{
                @include coordinates(0,0,0,0);
                width: 100% !important;
                & +
                .dropdown-toggle{
                  height: 44px;
                  background-color: $theme-ffffff !important;
                  border: 1px solid #e6e6e6;
                  box-shadow: none !important;
                  padding-left: 20px;
                  @include transition(border-color, 0.35s, ease-out);
                  outline: none !important;

                  .filter-option{
                    top: 50%;
                    @include translateY(-50%);
                    height: auto;
                    left: 0;
                    font-size: 16px;
                    color: $theme-666666;
                  }
                  .bs-caret{
                    right: 20px;
                    left: auto;
                    font-size: 16px;
                    position: absolute;
                    top: 50%;
                    @include translateY(-50%);
                    .caret{
                      position: static;
                      border:0;
                      margin:0;
                      width: auto;
                      height: auto;
                      &:after{
                        font-family: 'FontAwesome';
                        content:"\f107";
                        font-size: 16px;
                        color: #3f3f3f;
                      }
                    }
                  }
                  &:hover{
                    border-color: $theme-e6570c;
                  }
                }
              }
              &.open{
                .dropdown-toggle{
                  border-color: $theme-e6570c;
                }
              }
            }
          }
          .sc-filter{
            .dropdown{
              margin-left: 20px;
              width: 120px;
              button{
                background-color: $theme-ffffff;
                width: 100%;
                height: 44px;
                border: 1px solid #e6e6e6;
                font-size: 16px;
                color: $theme-666666;
                @include transition(border-color, 0.35s, ease-out);
                outline: none !important;
                box-shadow: none !important;
                &:hover{
                  border-color: $theme-e6570c;
                }
              }
              &.open{
                button{
                  border-color: $theme-e6570c;
                }
              }
            }
          }
          .dropdown-menu {
            box-shadow: 0 0 3px 0 rgba(0,0,0,0.15) !important;
            &.inner,
            &.dropdown-menu-right{
              padding: 8px 0;
              margin-bottom: 0;
              li{
                display: block;
                padding: 5px 0;
                a{
                  display: block;
                  padding:0 15px;;
                }
                &:hover{
                  a{
                    color: $theme-e6570c;
                  }
                }
              }
            }
          }
          @media (max-width: 767px){
            margin-left: -5px;
            margin-right: -5px;
            .sc-sort,
            .sc-filter{
              width: 50%;
              padding: 0 5px;
              .dropdown{
                width: 100%;
              }
            }
            .sc-filter{
              .dropdown{
                margin-left: 0;
              }
            }
          }
        }
      }
    }
    @media (max-width: 992px){
      & >.mytable.fixed-table-layout{
        table-layout: auto;
        & > .table-cell{
          display: block;
        }
      }
      .ss-content{
        float: none !important;
      }
    }
    &.sss-search{
      border-bottom: 0;
      .sf-title{
        h2{
          margin: 0;
          font-size: 32px;
        }
      }
    }
  }
  .p-listings{
    .pl-item{
      margin-bottom: 50px;
      .pi-img{
        position: relative;
        .availability{
          position: absolute;
          @include coordinates(10px,10px,auto,10px);
          z-index: 1;
          text-align: left;
          span{
            display: inline-block;
            background-color: #10d91a;
            font-size: 10px;
            color: $theme-ffffff;
            font-weight: 500;
            padding: 3px 13px;
            border-radius: 5px;
          }
          &.right-aligned{
            text-align: right;
          }
        }
        img{
          border: 1px solid #e6e6e6;
          border-radius: 5px;
          @include transition(border-color, 0.35s, ease-out);
          &:hover{
            border-color: $theme-e6570c;
          }
        }
      }
      .pi-title{
        h3{
          font-size: 18px;
          font-weight: 500;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 95%;
          line-height: 1.3;
        }
      }
      .pi-desc{
        margin-bottom: 20px;
        p{
          margin-bottom: 0;
        }
        span{
          display: block;
          i{
            margin-right: 5px;
          }
          &.openings{
            i{
              color: #10d91a;
            }
          }
          &.locate{
            i{
              color: $theme-e6570c;
            }
          }
        }
      }
      .pi-icons{
        margin: 0 0 20px;
        ul{
          margin: 0 -1px;
          li{
            float: left;
            padding: 0 1px;
            img{
              width: 25px;
            }
          }
        }
      }
      .pi-price-cart{
        .pp-old{
          font-size: 14px;
          text-decoration: line-through;
          color: #222222;
          display: block;
          margin-bottom: -5px;
        }
        .pi-price{
          .pp-pricing{
              .pp-new{
                font-size: 18px;
                font-weight: 500;
                color: #222222;
                display: block;
              }
          }
        }
        .pi-in-dc-cart{
          .pidc-content{
            float: right;
            .pi-in-dc{
              .pi-btn{
                float: left;
                margin-right: 6px;
                button,
                input{
                  height: 24px;
                  width: 24px;
                  border: 1px solid #e6e6e6;
                  border-radius: 5px;
                  text-align: center;
                  @include transition(all, 0.35s, ease-out);
                  background-color: transparent;
                }
                &.pi-dc,
                &.pi-in{
                  button{
                    &:hover{
                      border-color: $theme-e6570c;
                      color: $theme-ffffff;
                      background-color: $theme-e6570c;
                    }
                  }
                }
                &.pi-count{
                  input{
                    &:focus{
                      border-color: $theme-e6570c;
                    }
                  }
                }
              }
            }
            .pi-cart{
              padding-left: 4px;
              a,
              button{
                font-size: 12px;
                color: $theme-ffffff;
                background-color: $theme-e6570c;
                border-radius: 5px;
                padding: 10px 12px;
                display: inline-block;
                border:0;
                border: 1px solid $theme-e6570c;
              }
            }
          }
        }
        &.ppc-pid{
          .pi-in-dc-cart{
            .pidc-content{
              float: right;
              .pi-in-dc{
                .pi-btn{
                  button,
                  input{
                    width: 30px;
                    height: 30px;
                  }

                }
              }
              @media (max-width: 767px){
                .mytable{
                  display: block;
                  .table-cell{
                    &.pid-btn{
                      display: block;
                      padding-left: 0 !important;
                      margin-top: 25px;
                      clear: both;
                    }
                    &.pi-in-dc,
                    &.pid-options{
                      display: inline-block;
                    }
                  }
                }
              }
            }
          }
          .pi-cart{
            padding-left: 28px !important;
            &.pid-options{
              a,
              button{
                background-color: transparent;
                color: $theme-e6570c;
              }
              .dropdown{
                a{
                  background-color: transparent;
                  color: #666666;
                  border: 0;
                }
                &.open{
                  button{
                    border-color: $theme-e6570c;
                  }
                }
              }
              .dropdown-menu {
                box-shadow: 0 0 3px 0 rgba(0,0,0,0.15) !important;
                &.inner,
                &.dropdown-menu-right{
                  padding: 8px 0;
                  margin-bottom: 0;
                  li{
                    display: block;
                    padding: 5px 0;
                    a{
                      display: block;
                      padding:0 15px;;
                    }
                    &:hover{
                      a{
                        color: $theme-e6570c;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.item-not-available{
        .pi-img{
          .availability{
            span{
              background-color: #d9103b;
            }
          }
        }
      }
      &.pl-item-detail{
        .pid-title{
          h2{
            font-size: 30px;
            font-weight: 500;
            margin-top: 10px;
            margin-bottom: 15px;
          }
          .pei-icons{
            ul{
              margin-left: -1px;
              margin-right: -1px;
              li{
                padding-left: 1px;
                padding-right: 1px;
                img{
                  width: 25px;
                }
              }
            }
          }
          .pid-ext-info{
            margin-bottom: 30px;
            .pei-selector{
              .bootstrap-select{
                width: auto !important;
              }
              .dropdown-toggle{
                padding: 5px 15px;
                border-radius: 20px;
                width: 130px;
                font-size: 12px;
                color: $theme-666666;
                outline: none !important;
                box-shadow: none;
                @include transition(border-color, 0.35s, ease-out);
                background-color: transparent;
                &:hover{
                  border-color: $theme-e6570c;
                }
                .caret{
                  color: #999;
                }
              }
              .dropdown-menu {
                box-shadow: 0 0 3px 0 rgba(0,0,0,0.15) !important;
                font-size: 12px;
                &.inner,
                &.dropdown-menu-right{
                  padding: 8px 0;
                  margin-bottom: 0;
                  li{
                    display: block;
                    padding: 5px 0;
                    a{
                      display: block;
                      padding:0 15px;;
                    }
                    &:hover{
                      a{
                        color: $theme-e6570c;
                      }
                    }
                  }
                }
              }
              .bootstrap-select.open .dropdown-toggle{
                border-color: $theme-e6570c;
              }
            }
            .pei-available-info{
              font-size: 12px;
              color: #10d91a;
              line-height: 1;
              padding-left: 20px;
              .pai-ico{
                width: 27px;
                font-size: 22px;
              }
            }
            @media (max-width: 1199px){
              .mytable{
                display: block;
                .table-cell{
                  display: inline-block;
                  &.pei-selector{
                    padding-left: 25px;
                  }
                }
              }
            }
            @media (max-width: 767px){
              .mytable{
                .table-cell{
                  &.pei-selector{
                    padding-left: 25px;
                  }
                  &.pei-icons{
                    display: block;
                    margin-bottom: 25px;
                  }
                  &.pei-selector{
                    padding-left: 0;
                  }
                }
              }
            }
          }
        }
        .pid-desc{
          p{
            margin-bottom: 30px;
          }
        }
        .pid-price{
          position: relative;
          padding-top: 25px;
          margin-bottom: 30px;
          &::after{
            position: absolute;
            top:0;
            left:0;
            width: 70px;
            content:"";
            height: 1px;
            background-color: #e6e6e6;
          }
          span{
            display: inline-block;
            vertical-align: middle;
            &.pp-lg{
              color: #18b108;
              font-size: 30px;
            }
            &.pp-sm{
              font-size: 16px;
              text-decoration: line-through;
              margin-left: 25px;
            }
          }
        }
        .pid-comment{
          margin-bottom: 30px;
          label{
            font-weight: 400;
            color: #4d4d4d;
            margin-bottom: 10px;
            padding: 0;
          }
          textarea{
            width: 100%;
            border: 1px solid #e6e6e6;
            height: 75px;
            resize: none;
            border-radius: 5px;
            padding: 10px 15px;
            color: #222222;
            font-size: 13px;
          }
        }
      }
    }
    .paginations{
      margin-bottom: 50px;
      ul{
        margin-left: -5px;
        margin-right: -5px;
        li{
          padding-left: 5px;
          padding-right: 5px;
          & > span{
            height: 30px;
            width: 30px;
            border: 1px solid #e6e6e6;
            cursor: pointer;
            display: block;
            position: relative;
            @include transition(border-color, 0.35s, ease-out);
            i{
              position: absolute;
              top: 50%;
              left: 50%;
              @include translate(-50%,-50%);
            }
            &.disabled{
              pointer-events: none;
              border-color: #e6e6e6 !important;
            }
          }
          a{
            height: 30px;
            width: 30px;
            border: 1px solid #e6e6e6;
            position: relative;
            @include transition(border-color, 0.35s, ease-out);
            span{
              position: absolute;
              top: 50%;
              left: 50%;
              @include translate(-50%,-50%);
            }
          }
          &.active,
          &:hover{
            & > span,
            a{
              border-color: $theme-e6570c;
            }
          }
        }
      }
    }
    .row{
      .col-lg-4:nth-child(3n+1){
        clear: none;
        @media (min-width: 993px){
          clear: left;
        }
      }
      .col-lg-4:nth-child(2n+1){
        clear: none;
        @media (max-width: 992px){
          clear: left;
        }
      }
    }
  }
}

.white-content-box-overlayed{
  background-color: $theme-ffffff;
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: -280px;
  z-index: 2;
  position: relative;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.23);
  border-radius: 5px;
  @media (max-width: 767px){
    margin-top: -120px;
  }
}

.title-description-cta{
  background-color: #f1f1f1;
  margin-top: 0 !important;
  padding: 90px 0;
  @media (max-width: 767px){
    padding-top: 0 !important;
  }
  .tdc-title{
    margin-bottom: 30px;
    h3{
      margin: 0;
      font-size: 22px;
      font-weight: 600;
    }
  }
  .tdc-desc{
    p{
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

// Dropback when Language Dropdown is clicked
.lang-dd{
  position: fixed;
  z-index: 8;
  @include coordinates(0,0,0,0);
}

@media (min-width: 768px){
	.body-inactive,
	.offcanvas,
	.toggle{
		display: none !important;
	}
}
@media (max-width: 767px){
  .mynav,
  .etx-links{
    display: none;
  }
	.toggle{
		position: absolute;
		top: 50%;
		right: 15px;
		@include translateY(-50%);
    a{
      display: block;
      position: relative;
      height: 18px;
      width: 24px;
      span,
      &:before,
      &:after{
        position: absolute;
        content:'';
        left: 0;
        right: 0;
        width: 100%;
        height: 2px;
      }
      span{
        top:50%;
        @include translateY(-1px);
      }
      &:before{
        top: 0;
      }
      &:after{
        bottom: 0;
      }
      &.toggle-white{
        span,
        &:before,
        &:after{
          background-color: $theme-ffffff;
        }
      }
      &.toggle-black{
        span,
        &:before,
        &:after{
          background-color: $theme-000000;
        }
      }
    }
	}
	.offcanvas{
		position: fixed;
		width: 75%;
		background-color: $theme-e6570c;
		top:0;
		bottom:0;
		right:0;
		z-index: 99;
		@include transition(all, 0.35s, ease-out);
		@include translateX(100%);

		ul{
      float: none !important;
			li{
				border-bottom: 1px solid rgba(0,0,0,0.1);
				float: none;
				a{
					display: block;
					padding: 12px 15px;
					font-size: 18px;
					color: $theme-ffffff;
					svg{
						display: none;
					}
				}
			}
		}

    #storeNav{
      ul{
        // margin-top: 0;
        li{
          a{
            span{
              display: block;
              &:last-child{
                font-size: 14px;
              }
            }
          }
        }
      }
      + #mainNav{
        ul{
          margin-top: 0 !important;
        }
      }
    }
    .ext-elements{
      margin-top: 80px;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      margin-bottom: 20px;
      #mblLang,
      #mblCart{
        display: inline-block;
        vertical-align: middle;
      }
      ul{
        margin-bottom: 0;
        li{
          border-bottom: 0;
          padding: 12px 15px;
          a{
            padding: 0;
          }
        }
      }
      #mblCart{
        ul{
          li{
            a{
              position: relative;
              font-size: 24px;
              .ci-count{
                height: 15px;
                width: 15px;
                display: block;
                background-color: $theme-ffffff;
                color: $theme-e6570c;
                font-size: 10px;
                position: absolute;
                top:-2px;
                right: -7px;
                z-index: 1;
                border-radius: 50%;
                text-align: center;
                line-height: 16px;
              }
            }
          }
        }
      }
    }
		.coff{
			z-index: 9;
			padding: 10px;
			background-color: rgba(0,0,0,0.3);
		}
		&.show-offcanvas{
			@include translateX(0);
		}
	}
	.body-inactive{
		background-color:rgba(0,0,0, 0.63);
		display: none;
		z-index: 11;
	}
}

.bs-with-top-bar{

}

.footer{
  padding: 90px 0 60px;
  position: relative;
  background-color: $theme-e6570c;
  .f-content{
    position: relative;
    z-index: 2;
    .f-logo{
      img{
        max-width: 120px;
        display: inline-block;
      }
    }
    .f-bakery-add{
      margin-top: 40px;
      a{
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 13px 21px 0px rgba(7, 7, 7, 0.13);
        padding: 15px 45px;
        display: inline-block;
        color: $theme-e6570c;
      }
    }
    .f-links{
      display: table;
      margin: 0  auto;
      margin-top: 40px;
      ul{
        margin: 0 -20px;
        li{
          padding: 0 20px;
          a{
            font-size: 16px;
            color: $theme-ffffff;
          }
        }
        @media (max-width: 767px){
          margin-left: -10px;
          margin-right: -10px;
          li{
            padding-left: 10px;
            padding-right: 10px;
            a{
              font-size: 14px;
            }
          }
        }
      }
      &.fl-top{
        position: relative;
        padding-bottom: 25px;
        &:after{
          position: absolute;
          content:"";
          bottom:0;
          height: 1px;
          width: 70px;
          background-color: $theme-ffffff;
          left: 50%;
          @include translateX(-50%);
        }
      }
      &.fl-bottom{
        margin-top: 30px;
      }
    }
    .payment-info{
      margin-top: 40px;
    }
  }
  .fp-content{
    text-align: left;
    .fs-logo{
      .fl-img{
        width: 70px;
        img{
          max-width: 100%;
        }
      }
      .fl-detail{
        padding-left: 30px;
        h2,
        p{
          color: $theme-ffffff;
        }
        h2{
          margin-top: 0;
          font-weight: 500;
          margin-bottom: 7px;
        }
        p{
          font-size: 16px;
          margin-bottom: 0;
        }
      }
    }
    .fl-social{
      .fs-c{
        float: right;
      }
      span,
      ul{
        display: inline-block;
        vertical-align: middle;
      }
      span,
      a{
        color: $theme-ffffff;
        font-size: 18px;
      }
      span{
        font-weight: 500;
      }
      ul{
        margin-left: 10px;
        li{
          padding-left: 20px;
        }
      }
    }
    @media (max-width: 767px){
      text-align: center;
      .mytable,
      .table-cell{
        display: block;
      }
      .fs-logo{
        .fl-img{
          width: 60px;
          margin: 0 auto 20px;
        }
        .fl-detail{
          padding-left: 0;
          margin-bottom: 20px;
          h2{
            font-size: 20px;
          }
          p{
            font-size: 14px;
          }
        }
      }
      .fl-social{
        .fs-c{
          float: none;
        }
        span,
        a{
          font-size: 16px;
        }
      }
    }
  }
}

// Colors - Theme Declaration

.theme-ffffff{
  color: $theme-ffffff !important;
}
.theme-ffffff-bg{
  background-color: $theme-ffffff !important;
}
.theme-666666{
  color: $theme-666666 !important;
}
.theme-666666-bg{
  background-color: $theme-666666 !important;
}
.theme-e6570c{
  color: $theme-e6570c !important;
}
.theme-e6570c-bg{
  background-color: $theme-e6570c !important;
}
.theme-222433{
  color: $theme-222433 !important;
}
.theme-222433-bg{
  background-color: $theme-222433 !important;
}
.theme-000000{
  color: $theme-000000 !important;
}
.theme-000000-bg{
  background-color: $theme-000000 !important;
}
