@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');
@import 'theme-colors.scss';
@import 'mixins.scss';


*,
*:before,
*:after{
  margin:0;
  padding:0;
  outline:0;
  border:0;
}

body,html{
  height:100%;
}

body{
  background:$theme-ffffff;
  color:$theme-666666;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;

  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

ul{
  list-style: none;
  li{
    a{
      text-decoration: none;
    }
    a:hover{
      text-decoration: none;
    }
  }
}

ul.floated-list{
  margin-bottom:0;
  li{
    float: left;
    display:block;
    a{
      display:block;
    }
    ul{
      margin-bottom: 0;
      li{
        float: none;
      }
    }
  }
}

a{
  color:inherit;
  @include transition(all, 0.35s, ease-out);
  &:hover{
    opacity: 0.7;
  }
}
button[type="submit"],
input[type="submit"]{
  @include transition(all, 0.35s, ease-out);
  &:hover{
    opacity: 0.7;
  }
}
img{
  border:0;
}

h1,h2,h3,h4,h5,h6{
  color: $theme-222433;
}

h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
h1{
  font-size: 26px;
}

h2{
  font-size: 24px;
}

h3{
  font-size: 22px;
}

h4{
  font-size: 20px;
}

h5{
  font-size: 18px;
}

h6{
  font-size: 16px;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a{
  color: inherit;
}
label{
  font-weight: normal;
}
.font8px{
  font-size: 8px;
}
.font9px{
  font-size: 9px;
}
.font10px{
  font-size: 10px;
}
.font11px{
  font-size: 11px;
}
.font12px{
  font-size: 12px;
}
.font13px{
  font-size: 13px;
}
.font14px{
  font-size: 14px;
}
.font15px{
  font-size: 15px;
}
.font16px{
  font-size: 16px;
}
.bdrs0{
  border-radius: 0;
}
.bdrs5px{
  border-radius: 5px;
}
.bdrs8px{
  border-radius: 8px;
}
.bdrs10px{
  border-radius: 10px;
}
.icon-text{
  margin-right: 8px;
  &.sm{
    margin-right: 4px;
  }
}
.weight-300{
  font-weight: 300;
}
.weight-400{
  font-weight: 400;
}
.weight-500{
  font-weight: 500;
}
.weight-600{
  font-weight: 600;
}
.weight-700{
  font-weight: 700;
}
.weight-800{
  font-weight: 800;
}
.weight-900{
  font-weight: 900;
}
.font-style-italic{
  font-style: italic;
}
.font-style-normal{
  font-style: normal;
}
.clear{
  clear:both;
}
.inline{
  display: inline;
}
.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.lowercase{
  text-transform: lowercase;
}
.capitalize{
  text-transform: capitalize;
}
.uppercase{
  text-transform: uppercase;
}
.div-center{
  display:table;
  margin:0 auto;
}
.fullHeight{
  height:100%;
}
.mytable{
  display: table;
  width: 100%;
  height: 100%;
}
.fixed-table-layout{
  table-layout: fixed;
}
.table-cell{
  display:table-cell;
}
.va-middle{
  vertical-align: middle;
}
.va-top{
  vertical-align: top;
}
.va-bottom{
  vertical-align: bottom;
}
.static{
  position: static;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.fixed{
  position: fixed;
}
.cover{
  @include coordinates(0,0,0,0);
}
.circle{
  border-radius: 50%;
}
.m0{
  margin:0 !important;
}
.mb-0{
  margin-bottom: 0 !important;
}
.mb-10{
  margin-bottom: 10px !important;
}
.mb-20{
  margin-bottom: 20px !important;
}
.mb-30{
  margin-bottom: 30px !important;
}
.mb-40{
  margin-bottom: 40px !important;
}
.mb-50{
  margin-bottom: 50px !important;
}
.mt-0{
  margin-top: 0 !important;
}
.mt-10{
  margin-top: 10px !important;
}
.mt-20{
  margin-top: 20px !important;
}
.mt-30{
  margin-top: 30px !important;
}
.mt-40{
  margin-top: 40px !important;
}
.mt-50{
  margin-top: 50px !important;
}
.my-0{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.my-10{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.my-20{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.my-30{
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.my-40{
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.my-50{
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.pb-0{
  padding-bottom: 0 !important;
}
.pb-10{
  padding-bottom: 10px !important;
}
.pb-20{
  padding-bottom: 20px !important;
}
.pb-30{
  padding-bottom: 30px !important;
}
.pb-40{
  padding-bottom: 40px !important;
}
.pb-50{
  padding-bottom: 50px !important;
}
.pt-0{
  padding-top: 0 !important;
}
.pt-10{
  padding-top: 10px !important;
}
.pt-20{
  padding-top: 20px !important;
}
.pt-30{
  padding-top: 30px !important;
}
.pt-40{
  padding-top: 40px !important;
}
.pt-50{
  padding-top: 50px !important;
}
.py-0{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.py-10{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.py-20{
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.py-30{
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.py-40{
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.py-50{
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.fill{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-20 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-20 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-20 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-20 {
    width: 20%;
    float: left;
  }
}

.fitVid{
  position: relative;
  padding-bottom: 56%;
  height: 0;
  iframe{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
  }
}

// Bootstrap Gutter Changes
.row60{
  margin-left: -60px;
  margin-right: -60px;
  .column{
    padding-left: 60px;
    padding-right: 60px;
  }
}
.row30{
  margin-left: -30px;
  margin-right: -30px;
  .column{
    padding-left: 30px;
    padding-right: 30px;
  }
}
.row25{
  margin-left: -25px;
  margin-right: -25px;
  .column{
    padding-left: 25px;
    padding-right: 25px;
  }
}
.row20{
  margin-left: -20px;
  margin-right: -20px;
  .column{
    padding-left: 20px;
    padding-right: 20px;
  }
}
.row10{
  margin-left: -10px;
  margin-right: -10px;
  .column{
    padding-left: 10px;
    padding-right: 10px;
  }
}
.row7{
  margin-left: -7px;
  margin-right: -7px;
  .column{
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 14px;
  }
}
.row5{
  margin-left: -5px;
  margin-right: -5px;
  .column{
    padding-left: 5px;
    padding-right: 5px;
  }
}

.form-control{
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.055);
  border-width: 1px;
  border-style: solid;
}
.form-control[type="button"],
.form-control[type="submit"],
.form-control[type="reset"]{
  -webkit-appearance:none;
  cursor:pointer;
}
.form-control::-moz-placeholder {
  color: #c5c5c5;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #c5c5c5;
}
.form-control::-webkit-input-placeholder {
  color: #c5c5c5;
}
.form-control:focus{
  box-shadow: none;
  border-color: $theme-e6570c;
}


// Specific CSS
.header{
  @include coordinates(0,0,auto,0);
  z-index: 9;
  padding: 20px 30px;
  @include transition(padding, 0.35s, ease-out);
  .logo{
    width: 90px;
    @include transition(width, 0.35s, ease-out);
  }
  .etx-links{
    padding-left: 50px;
    color: #3a3c51;
    ul{
      margin-left: -35px;
      margin-right: -35px;
      li{
        padding-left: 35px;
        padding-right: 35px;
        a{
          span{
            display: block;
            &:first-child{
              font-size: 16px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  .mynav{
    ul{
      position: relative;
      li{
        margin-left: 30px;
      }
      &.select-language{
        margin-left: 20px;
        margin-bottom: 0;
        &:after{
          position: absolute;
          height: 10px;
          width: 2px;
          background-color: #3a3c51;
          content:"";
          top: 50%;
          @include translateY(-50%);
          left: 0;
        }
        li{
          margin-left: 20px;
          a{
            display: block;
            color: #3a3c51;
            position: relative;
            img{
              height: 18px;
            }
            i{
              font-size: 16px;
              margin-left: 3px;
            }
            &.cart-icon{
              span.ci-count{
                height: 15px;
                width: 15px;
                display: block;
                background-color: $theme-e6570c;
                color: $theme-ffffff;
                font-size: 10px;
                position: absolute;
                top:-7px;
                right: -7px;
                z-index: 1;
                border-radius: 50%;
                text-align: center;
                line-height: 16px;
              }
            }
          }
        }
      }
    }
  }
  &.sticky{
    background-color: $theme-e6570c;
    padding: 10px 0;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.075);
    .logo{
      width: 50px;
    }
  }
}
.header.absolute{
  .etx-links{
    color: $theme-ffffff;
  }
  .mynav{
    ul{
      &.select-language{
        &:after{
          background-color: $theme-ffffff;
        }
      }
      li{
        a{
          color: $theme-ffffff;
        }
      }
    }
  }
  &.vv-light-opac{
    background-color: rgba(255,255,255,0.95);
    .etx-links{
      color: #3a3c51;
    }
    .mynav{
      ul{
        &.select-language{
          &:after{
            background-color: #3a3c51;
          }
        }
        li{
          a{
            color: #3a3c51;
          }
        }
      }
    }
  }
}
.lg-container{
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1380px;
  margin: 0 auto;
}
.section{
  margin-top: 100px;
  position: relative;
  .sec-title{
    position: relative;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 25px;
    h2{
      margin-top: 0;
      font-size: 30px;
      font-weight: 600;
      padding-bottom: 20px;
      margin-bottom: 0;
      &:after{
        position: absolute;
        content:"";
        bottom:0;
        left: 0;
        height: 1px;
        width: 70px;
        background-color: $theme-e6570c;
        left: 50%;
        @include translateX(-50%);
      }
    }
  }
}
.banner{
  height: calc(100vh - 30px);
  position: relative;
  .b-overlay{
    z-index: 1;
  }
  .b-content{
    z-index: 2;
    .bc-caption{
      max-width: 570px;
      .bcc-title{
        margin-bottom: 30px;
        h1{
          margin-top: 0;
          font-size: 60px;
          color: $theme-ffffff;
          font-weight: 700;
        }
      }
      .bcc-desc{
        font-size: 18px;
        color: $theme-ffffff;
        margin-bottom: 40px;
      }
      .bcc-search {
        position: relative;
        input{
          height: 80px;
          border-color: rgb(230, 230, 230);
          border-radius: 7px;
          background-color: rgb(255, 255, 255);
          box-shadow: 0px 10px 21px 0px rgba(0, 0, 0, 0.06);
          font-size: 18px;
          font-weight: 500;
          padding-left: 55px;
        }
        &:after{
          position: absolute;
          content:"\f002";
          top: 50%;
          @include translateY(-50%);
          z-index: 1;
          left: 25px;
          font-family: 'FontAwesome';
          font-size: 18px;
          color: $theme-e6570c;
        }
        button[type="submit"],
        input[type="submit"]{
          height: 70%;
          position: absolute;
          right: 15px;
          background-color: $theme-e6570c;
          color: $theme-ffffff;
          border-radius: 7px;
          top: 50%;
          @include translateY(-50%);
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }
    .be-img{
      img{
        @media (max-height: 900px){
          max-height: 600px;
          margin-top: 15vh;
        }
      }
    }
  }
  .arrow-down{
    position: absolute;
    bottom:0;
    left: 50%;
    @include translate(-50%,50%);
    z-index: 2;
    a{
      height: 50px;
      width: 50px;
      background-color: $theme-ffffff;
      border-radius: 50%;
      display: block;
      opacity: 1;
      box-shadow: 0 1px 3px 1px rgba(0,0,0,0.075);
      i{
        font-size: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        color: $theme-e6570c;
        @include translate(-50%,-50%);
      }
    }
  }
  &.page-banner{
    height: 480px;
    &:after{
      height: 55%;
      z-index: 1;
      position: absolute;
      bottom: 0;
      right:0;
      left:0;
      content:"";
      background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(0,0,0,0.43) 43%, rgba(0,0,0,1) 100%);
      background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(0,0,0,0.43) 43%,rgba(0,0,0,1) 100%);
      background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(0,0,0,0.43) 43%,rgba(0,0,0,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#000000',GradientType=0 );
    }
    .bp-content{
      padding-bottom: 20px;
      .bp-logo{
        width: 120px;
      }
      .bp-detail{
        padding-left: 20px;
        h1,
        p{
          color: $theme-ffffff;
        }
        h1{
          font-size: 36px;
          font-weight: 600;
          margin-top: 0;
          margin-bottom: 7px;
        }
        p{
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 0;
        }
      }
    }
  }
}

.section-easyness{
  padding-top: 40px;
  .se-content{
    .se-listings{
      .se-item{
        position: relative;
        &:after{
          position: absolute;
          content: "\f054";
          top: 50%;
          right: -72px;
          color:#7cbe31;
          font-size: 30px;
          font-family: 'FontAwesome';
          @include translateY(-50%);
        }
        padding: 70px 15px;
        border-radius: 7px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 59px 0px rgba(0, 0, 0, 0.11);
        .sei-img{
          img{
            max-height: 133px;
          }
        }
        .sei-title{
          margin: 25px 0 20px;
          font-size: 18px;
          color: #1d1d1d;
        }
        .sei-desc{
          font-size: 16px;
        }
      }
      .row{
        .col-md-4:last-child{
          .se-item{
            &:after{
              display: none;
            }
          }
        }
      }
    }
  }
}

.recent-bakeries{
  padding-top: 60px;
  .owl-latest-listings{
    padding-top: 65px;
  }
  .owl-dots{
    display: table;
    margin: 20px auto 40px;
    button{
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      height: 9px !important;
      width: 9px !important;
      border: 1px solid $theme-e6570c;
      border-radius: 50%;
      margin-left: 5px;
      margin-right: 5px;
      &.active{
        height: 13px !important;
        width: 13px !important;
        background-color: $theme-e6570c;
      }
    }
  }
}
.listings{
  .l-img{
    margin-bottom: 20px;
    img{
      border-radius: 5px;
    }
  }
  .l-title{
    margin-bottom: 30px;
    h3{
      font-size: 14px;
      margin:0;
      font-weight: 500;
    }
  }
}

.lg-img-text-section{
  overflow-x: hidden;
  .ltlir-text{

    .lt-absolute{
      z-index: 1;
    }
    .lt-content{
      background-color: #fff;
      padding: 70px 150px 100px 80px;
      border-radius: 7px;
      box-shadow: 0px 0px 59px 0px rgba(0, 0, 0, 0.11);
      width: 750px;

      @media (max-width: 1600px){
        width: auto;
        padding-right: 100px;
        padding-left: 50px;
      }
      .ltc-title{
        h3{
          margin-top: 0;
          font-weight: 600;
          padding-bottom: 20px;
          position: relative;
          margin-bottom: 25px;
          line-height: 1.4;
          font-size: 30px;
          &:after{
            position: absolute;
            content:"";
            bottom:-1px;
            left: 0;
            height: 1px;
            width: 70px;
            background-color: $theme-e6570c;
          }
        }
      }
      .ltc-desc{
        font-size: 18px;
        margin-top: 30px;
        p{
          margin-bottom: 0;
        }
      }
      .sc-apps{
        margin-top: 40px;
        ul{
          li{
            margin-right: 40px;
            min-width: 80px;
            text-align: center;
            a{
              display: block;
              opacity: 1;
              span{
                display: block;
                &.svg-plus-icon{
                  position: relative;
                  svg{
                    path{
                      fill: $theme-ffffff;
                      @include transition(all, 0.5s, ease-out);
                    }
                  }
                  .sca-icon{
                    position: absolute;
                    @include coordinates(0,0,0,0);
                    text-align: center;
                    z-index: 1;
                    i{
                      position: absolute;
                      top: 50%;
                      left: calc( 50% + 2px);
                      @include translate(-50%,-50%);
                      color: $theme-e6570c;
                      font-size: 30px;
                      z-index: 2;
                    }
                  }
                }
                &.sca-text{
                  font-size: 16px;
                  margin-top: 8px;
                  @include transition(color, 0.5s, ease-out);
                }
              }
              &:hover{
                span{
                  &.svg-plus-icon{
                    svg{
                      path{
                        fill: $theme-e6570c;;
                      }
                    }
                    .sca-icon{
                      i{
                        color: $theme-ffffff;
                      }
                    }
                  }
                }
                .sca-text{
                  color: $theme-e6570c;
                }
              }
            }
          }
        }
      }
      .ltc-cta{
        margin-top: 40px;
        a{
          display: inline-block;
          padding: 15px 45px;
          color: $theme-ffffff;
          border-radius: 10px;
          background-color: rgb(230, 87, 12);
          box-shadow: 0px 13px 21px 0px rgba(7, 7, 7, 0.13);
        }
      }
    }
  }
  .ltlir-img{
    img{
      border-radius: 7px;
    }
  }
  &.lits-left{
    padding: 90px 0;
    background-color: #f1f1f1;
    .lt-img{
      .li-figure{
        height: 600px;
      }
    }
    .lt-content{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: -30px;
    }
  }
  &.lits-right{
    padding-top: 90px;
    padding-bottom: 250px;

    background: rgb(225,225,225);
    background: -moz-linear-gradient(top, rgba(225,225,225,1) 0%, rgba(241,241,241,1) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(225,225,225,1) 0%,rgba(241,241,241,1) 50%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(225,225,225,1) 0%,rgba(241,241,241,1) 50%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#ffffff',GradientType=0 );
    .lt-img{
      .li-figure{
        height: 700px;
      }
    }
  }
}

// Store Page
.about-store{
  margin-top: 60px;
  .as-detail{
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 30px;
    .asd-title-back{
      margin-bottom: 25px;
      h3{
        float: left;
        margin: 0;
        font-size: 24px;
        font-weight: 500;
      }
      a{
        float: right;
        display: block;
        color: $theme-e6570c;
      }
    }
    p{
      margin-bottom: 30px;
    }
  }
}

.store-p-listings{
  .sfext-options{
    margin-top: 50px;
    margin-bottom: 50px;
    .so-back{}
    .so-add-bakker{
      color: $theme-e6570c;
    }
  }
  .row{
    &.single-line-item{
      .col-md-4{
        width: 100%;
        .pl-item{
          .wrapped-img{
            width: 262px;
          }
          .wrapped-detail{
            padding-left: 40px;
            &>div{
              max-width: 65%;
            }
          }
        }
      }
    }
  }
  aside{
    .radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline{
      margin-left: 15px;
    }
    .check-options{
      & .table-cell{
        &:first-child{
          width: 90px;
        }
        &:nth-child(2){
          width: 70px;
        }
      }
    }
    .spl-filter{
      padding: 20px;
      margin-bottom: 30px;
      border: 1px solid #ebebeb;
      border-radius: 5px;
      h3{
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 16px;
        font-weight: 500;
        color: #222222;
      }
      span.selector{
        color: #222222;
        margin-bottom: 15px;
        display: block;
        font-size: 16px;
      }
      ul{
        li{
          a{
            font-size: 16px;
            display: block;
            opacity: 1;
            position: relative;
          }
        }
        &.sf-options{
          & > li{
            & > a{
              color: #222222;
              font-size: 16px;
              margin-bottom: 15px;
              @include transition(all, 0.35s, ease-out);
              i{
                position: absolute;
                right:0;
                top:3px;
                @include transition(all, 0.5s, ease-out);
              }
            }
            & > ul{
              padding-left: 20px;
              margin-bottom: 15px;
              li{
                a{
                  margin-bottom: 7px;
                  font-size: 15px;
                }
                &:last-child{
                  a{
                    margin-bottom: 0;
                  }
                }
                &:hover,
                &.active{
                  > a{
                    color: $theme-e6570c;
                  }
                }
              }
            }
            &.filter-open{
              & > a{
                i{
                  @include rotate(180deg);
                }
              }
            }
          }
        }
      }
      &.sort-by{
        .checkbox-inline{
          input[type="checkbox"]{
            margin-top: 0;
            top: 50%;
            @include translateY(-50%);
          }
        }
      }
    }
  }
  .sftitle-search-sortings{
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 30px;
    padding-bottom: 20px;
    .sf-title{
      h2{
        font-weight: 500;
        margin-top: 10px;
      }
      .result-stats{
        margin-bottom: 40px;
        display: block;
        font-size: 16px;
      }
      a.bt-list{
        padding: 12px 20px;
        display: inline-block;
        border-radius: 5px;
        background-color: rgb(230, 230, 230);
        font-size: 12px;
        color: #222;
      }
    }
    .search-sortings{
      .ss-content{
        float: right;
        .sc-search{
          position: relative;
          input,
          select{
            border: 1px solid #e6e6e6;
            border-radius: 5px;
            width: 270px;
            padding: 11px 12px 11px 30px;
            color: #222222;
          }
          span.ss-icon{
            position: absolute;
            top: 50%;
            left: 10px;
            @include translateY(-50%);
            z-index: 1;
            color: $theme-e6570c;
          }
        }
        .sc-grid-view-option{
          margin-left: 10px;
          .sg-grid{
            float: left;
            margin-left: 20px;
            a{
              display: block;
              opacity: 1;
              i{
                font-size: 20px;
                color: #dadada;
                @include transition(color, 0.35s, ease-out);
              }
            }
            &.active,
            &:hover{
              i{
                color: $theme-e6570c;
              }
            }
            &.active{
              a{
                pointer-events: none;
              }
            }
          }
        }
      }
      &.sort-filters{
        .ss-content{
          margin-top: 15px;
          .sc-sort{
            .bootstrap-select{
              width: 160px;
              height: 44px;
              select{
                @include coordinates(0,0,0,0);
                width: 100% !important;
                & +
                .dropdown-toggle{
                  height: 44px;
                  background-color: $theme-ffffff !important;
                  border: 1px solid #e6e6e6;
                  box-shadow: none !important;
                  padding-left: 20px;
                  @include transition(border-color, 0.35s, ease-out);
                  outline: none !important;

                  .filter-option{
                    top: 50%;
                    @include translateY(-50%);
                    height: auto;
                    left: 0;
                    font-size: 16px;
                    color: $theme-666666;
                  }
                  .bs-caret{
                    right: 20px;
                    left: auto;
                    font-size: 16px;
                    position: absolute;
                    top: 50%;
                    @include translateY(-50%);
                    .caret{
                      position: static;
                      border:0;
                      margin:0;
                      width: auto;
                      height: auto;
                      &:after{
                        font-family: 'FontAwesome';
                        content:"\f107";
                        font-size: 16px;
                        color: #3f3f3f;
                      }
                    }
                  }
                  &:hover{
                    border-color: $theme-e6570c;
                  }
                }
              }
            }
          }
          .sc-filter{
            .dropdown{
              margin-left: 20px;
              width: 120px;
              button{
                background-color: $theme-ffffff;
                width: 100%;
                height: 44px;
                border: 1px solid #e6e6e6;
                font-size: 16px;
                color: $theme-666666;
                @include transition(border-color, 0.35s, ease-out);
                outline: none !important;
                box-shadow: none !important;
                &:hover{
                  border-color: $theme-e6570c;
                }
              }
            }
          }

          .dropdown-menu {
            box-shadow: 0 0 3px 0 rgba(0,0,0,0.15) !important;
            &.inner,
            &.dropdown-menu-right{
              padding: 8px 0;
              margin-bottom: 0;
              li{
                display: block;
                padding: 5px 0;
                a{
                  display: block;
                  padding:0 15px;;
                }
                &:hover{
                  a{
                    color: $theme-e6570c;
                  }
                }
              }
            }
          }

        }
      }
    }
  }
  .p-listings{
    .pl-item{
      margin-bottom: 50px;
      .pi-img{
        position: relative;
        .availability{
          position: absolute;
          @include coordinates(10px,10px,auto,10px);
          z-index: 1;
          text-align: left;
          span{
            display: inline-block;
            background-color: #10d91a;
            font-size: 10px;
            color: $theme-ffffff;
            font-weight: 500;
            padding: 3px 13px;
            border-radius: 5px;
          }
          &.right-aligned{
            text-align: right;
          }
        }
        img{
          border: 1px solid #e6e6e6;
          border-radius: 5px;
          @include transition(border-color, 0.35s, ease-out);
          &:hover{
            border-color: $theme-e6570c;
          }
        }
      }
      .pi-title{
        h3{
          font-size: 18px;
          font-weight: 500;
        }
      }
      .pi-desc{
        margin-bottom: 20px;
        p{
          margin-bottom: 0;
        }
        span{
          display: block;
          &.openings{
            i{
              color: #10d91a;
            }
          }
          &.locate{
            i{
              color: $theme-e6570c;
            }
          }
        }
      }
      .pi-icons{
        margin: 0 0 20px;
        ul{
          margin: 0 -1px;
          li{
            float: left;
            padding: 0 1px;
            span{
              display: block;
              width: 30px;
              height: 30px;
              border: 1px solid #e6e6e6;
              border-radius: 50%;
              position: relative;
              img{
                max-width: 70%;
                position: absolute;
                top: 50%;
                left: 50%;
                @include translate(-50%,-50%);
              }
              &.corn{
                background-color: #b98959;
              }
              &.crab{
                background-color: #b11322;
              }
              &.egg{
                background-color: #f99f2b;
              }
              &.fish{
                background-color: #2d63b2;
              }
            }
          }
        }
      }
      .pi-price-cart{
        .pi-price{
          .pp-pricing{
            span{
              color: #10d91a;
              font-size: 18px;
              font-weight: 500;
              &:first-child{
                color: #a7a7a7;
              }
            }
          }
        }
        .pi-in-dc-cart{
          .pidc-content{
            float: right;
            .pi-in-dc{
              .pi-btn{
                float: left;
                margin-right: 6px;
                button,
                input{
                  height: 24px;
                  width: 24px;
                  border: 1px solid #e6e6e6;
                  border-radius: 5px;
                  text-align: center;
                  @include transition(all, 0.2 s, ease-out);
                  background-color: transparent;
                }
                &.pi-dc{
                  button{
                    &:hover{
                      border-color: $theme-e6570c;
                    }
                  }
                }
                &.pi-count{
                  input{
                    &:focus{
                      border-color: $theme-e6570c;
                    }
                  }
                }
                &.pi-in{
                  button{
                    border-color: $theme-e6570c;
                    &:hover{
                      background-color: $theme-e6570c;
                      color: $theme-ffffff;
                    }
                  }
                }
              }
            }
            .pi-cart{
              padding-left: 4px;
              a,
              button{
                font-size: 12px;
                color: $theme-ffffff;
                background-color: $theme-e6570c;
                border-radius: 5px;
                padding: 10px 12px;
                display: inline-block;
                border:0;
                border: 1px solid $theme-e6570c;
              }
            }
          }
        }
        &.ppc-pid{
          .pi-in-dc-cart{
            .pidc-content{
              float: right;
              .pi-in-dc{
                .pi-btn{
                  button,
                  input{
                    width: 30px;
                    height: 30px;
                  }

                }
              }
            }
          }
          .pi-cart{
            padding-left: 28px !important;
            &.pid-options{
              a,
              button{
                background-color: transparent;
                color: $theme-e6570c;
              }
              .dropdown{
                a{
                  background-color: transparent;
                  color: #666666;
                  border: 0;
                }
              }
              .dropdown-menu {
                box-shadow: 0 0 3px 0 rgba(0,0,0,0.15) !important;
                &.inner,
                &.dropdown-menu-right{
                  padding: 8px 0;
                  margin-bottom: 0;
                  li{
                    display: block;
                    padding: 5px 0;
                    a{
                      display: block;
                      padding:0 15px;;
                    }
                    &:hover{
                      a{
                        color: $theme-e6570c;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      &.item-available{
        .pi-price-cart{
          .pi-price{
            .pp-pricing{
              span{
                &:first-child{
                  color: #10d91a;
                }
              }
            }
          }
        }
      }
      &.item-not-available{
        .pi-img{
          .availability{
            span{
              background-color: #d9103b;
            }
          }
        }
      }
      &.pl-item-detail{
        .pid-title{
          h2{
            font-size: 30px;
            font-weight: 500;
            margin-top: 10px;
            margin-bottom: 15px;
          }
          .pid-ext-info{
            margin-bottom: 30px;
            .pei-selector{
              .dropdown-toggle{
                padding: 5px 15px;
                border-radius: 20px;
                width: 130px;
                font-size: 12px;
                color: $theme-666666;
                outline: none !important;
                box-shadow: none;
                @include transition(border-color, 0.35s, ease-out);
                background-color: transparent;
                &:hover{
                  border-color: $theme-e6570c;
                }
                .caret{
                  color: #999;
                }
              }
              .dropdown-menu {
                box-shadow: 0 0 3px 0 rgba(0,0,0,0.15) !important;
                font-size: 12px;
                &.inner,
                &.dropdown-menu-right{
                  padding: 8px 0;
                  margin-bottom: 0;
                  li{
                    display: block;
                    padding: 5px 0;
                    a{
                      display: block;
                      padding:0 15px;;
                    }
                    &:hover{
                      a{
                        color: $theme-e6570c;
                      }
                    }
                  }
                }
              }
            }
            .pei-available-info{
              font-size: 12px;
              color: #10d91a;
              line-height: 1;
              .pai-ico{
                width: 27px;
                font-size: 22px;
              }
            }
          }
        }
        .pid-desc{
          p{
            margin-bottom: 30px;
          }
        }
        .pid-price{
          position: relative;
          padding-top: 25px;
          margin-bottom: 30px;
          &::after{
            position: absolute;
            top:0;
            left:0;
            width: 70px;
            content:"";
            height: 1px;
            background-color: #e6e6e6;
          }
          span{
            display: inline-block;
            vertical-align: middle;
            &.pp-lg{
              color: #18b108;
              font-size: 30px;
            }
            &.pp-sm{
              font-size: 16px;
              text-decoration: line-through;
              margin-left: 25px;
            }
          }
        }
        .pid-comment{
          margin-bottom: 30px;
          label{
            font-weight: 400;
            color: #4d4d4d;
            margin-bottom: 10px;
            padding: 0;
          }
          textarea{
            width: 100%;
            border: 1px solid #e6e6e6;
            height: 75px;
            resize: none;
            border-radius: 5px;
            padding: 10px 15px;
            color: #222222;
            font-size: 13px;
          }
        }
      }
    }
    .paginations{
      margin-bottom: 150px;
      ul{
        margin-left: -5px;
        margin-right: -5px;
        li{
          padding-left: 5px;
          padding-right: 5px;
          & > span{
            height: 30px;
            width: 30px;
            border: 1px solid #e6e6e6;
            cursor: pointer;
            display: block;
            position: relative;
            @include transition(border-color, 0.35s, ease-out);
            i{
              position: absolute;
              top: 50%;
              left: 50%;
              @include translate(-50%,-50%);
            }
            &.disabled{
              pointer-events: none;
              border-color: #e6e6e6 !important;
            }
          }
          a{
            height: 30px;
            width: 30px;
            border: 1px solid #e6e6e6;
            position: relative;
            @include transition(border-color, 0.35s, ease-out);
            span{
              position: absolute;
              top: 50%;
              left: 50%;
              @include translate(-50%,-50%);
            }
          }
          &.active,
          &:hover{
            & > span,
            a{
              border-color: $theme-e6570c;
            }
          }
        }
      }
    }
  }
}

.footer{
  padding: 60px;
  position: relative;
  background-color: #404040;
  .f-content{
    position: relative;
    z-index: 2;
    .f-logo{
      img{
        max-width: 120px;
        display: inline-block;
      }
    }
    .f-bakery-add{
      margin-top: 40px;
      a{
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 13px 21px 0px rgba(7, 7, 7, 0.13);
        padding: 15px 45px;
        display: inline-block;
        color: $theme-e6570c;
      }
    }
    .f-links{
      display: table;
      margin: 0  auto;
      margin-top: 40px;
      ul{
        margin: 0 -20px;
        li{
          padding: 0 20px;
          a{
            font-size: 16px;
            color: $theme-ffffff;
          }
        }
      }
      &.fl-top{
        position: relative;
        padding-bottom: 25px;
        &:after{
          position: absolute;
          content:"";
          bottom:0;
          height: 1px;
          width: 70px;
          background-color: $theme-ffffff;
          left: 50%;
          @include translateX(-50%);
        }
      }
      &.fl-bottom{
        margin-top: 30px;
      }
    }
    .payment-info{
      margin-top: 40px;
    }
  }
  .fp-content{
    text-align: left;
    .fs-logo{
      .fl-img{
        width: 70px;
      }
      .fl-detail{
        padding-left: 30px;
        h2,
        p{
          color: $theme-ffffff;
        }
        h2{
          margin-top: 0;
          font-weight: 500;
          margin-bottom: 7px;
        }
        p{
          font-size: 16px;
          margin-bottom: 0;
        }
      }
    }
    .fl-social{
      .fs-c{
        float: right;
      }
      span,
      ul{
        display: inline-block;
        vertical-align: middle;
      }
      span,
      a{
        color: $theme-ffffff;
        font-size: 18px;
      }
      span{
        font-weight: 500;
      }
      ul{
        margin-left: 10px;
        li{
          padding-left: 20px;
        }
      }
    }
  }
}

// Colors - Theme Declaration

.theme-ffffff{
  color: $theme-ffffff !important;
}
.theme-ffffff-bg{
  background-color: $theme-ffffff !important;
}
.theme-666666{
  color: $theme-666666 !important;
}
.theme-666666-bg{
  background-color: $theme-666666 !important;
}
.theme-e6570c{
  color: $theme-e6570c !important;
}
.theme-e6570c-bg{
  background-color: $theme-e6570c !important;
}
.theme-222433{
  color: $theme-222433 !important;
}
.theme-222433-bg{
  background-color: $theme-222433 !important;
}
.theme-000000{
  color: $theme-000000 !important;
}
.theme-000000-bg{
  background-color: $theme-000000 !important;
}
